* {
  font-family: IRANSans;
}

body {
  background: linear-gradient(to top, #c4e4ff, rgb(255, 255, 255));
  background-repeat: no-repeat;
  background-size: contain;
  height: 97.8vh;
  display: grid;
  align-items: center;
  align-content: center;
}

.calculator {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  padding: 10px;
  margin: 1% auto 0 auto;
  gap: 0;
  width: 450px;
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.133), 0px 7px 10px 0px rgba(0, 0, 0, 0.133) inset;
  background-color: rgba(255, 255, 255, 0.621);
}

.dial-pad {
  display: grid;
  margin: 10px;
  gap: 10px;
  grid-template-columns: 6fr 1fr;
}

.numbers {
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.number {
  transform: scale(1);
  transition: 0.1s;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-size: 40px;
  margin: 5px;
  background-color: rgb(241, 243, 255);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.258);
  border: none;
  border-radius: 100px;
  transform: scale(1);
}
.number::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.3215686275);
  transform: scale(1.3);
  border-radius: 100px;
  opacity: 0;
}
.number:active {
  transform: scale(0.85);
}
.number:active::before {
  animation-name: fade-btn;
  animation-duration: 0.25s;
}
@keyframes fade-btn {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
}
.number:hover {
  background-color: rgba(237, 237, 237, 0.589);
}

.operators {
  grid-column-start: 2;
  grid-column-end: 2;
  display: grid;
  align-items: center;
  justify-content: center;
}
.operators .equal {
  background-color: #00dfa2;
}
.operators button {
  transform: scale(1);
  transition: 0.1s;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-size: 30px;
  margin: 5px;
  height: 70px;
  width: 70px;
  background-color: #515151;
  border: none;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  color: white;
}
.operators button::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.3215686275);
  transform: scale(1.3);
  border-radius: 30px;
  opacity: 0;
}
.operators button:active {
  transform: scale(0.85);
}
.operators button:active::before {
  animation-name: fade-btn;
  animation-duration: 0.25s;
}
@keyframes fade-btn {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
}
.operators button:hover {
  opacity: 0.7;
}
.operators .clear-btn {
  background-color: #ff0060;
}

.screen {
  margin: 7px auto 10px auto;
  width: 95%;
  border-radius: 20px;
  display: flex;
  align-content: center;
  border-radius: 10px;
  padding: 5px 0;
  font-size: 40px;
}
.screen input {
  width: 80%;
  font-size: 40px;
  border: none;
  outline: none;
  color: #0079ff;
  background-color: rgb(238, 238, 238);
  border-radius: 14px;
  padding: 10px 20px;
  background-color: rgb(241, 243, 255);
}

@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
    padding: 5px;
    margin: 10px auto;
  }
}
.history-btn {
  cursor: pointer;
  width: 20%;
  border: none;
  display: block;
  margin: 0 0 0 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #0079ff;
  border-radius: 14px;
  position: relative;
  transform: scale(1);
  transition: 0.1s;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}
.history-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 119, 255, 0.3215686275);
  transform: scale(1.3);
  border-radius: 30px;
  opacity: 0;
}
.history-btn:active {
  transform: scale(0.85);
}
.history-btn:active::before {
  animation-name: fade-btn;
  animation-duration: 0.25s;
}
@keyframes fade-btn {
  0% {
    opacity: 1;
    transform: scale(0.5);
  }
}

.history-panel {
  border: none;
  position: absolute;
  width: 100%;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  animation-name: history;
  animation-duration: 0.4s;
  animation-direction: alternate;
}

@keyframes history {
  0% {
    opacity: 0.5;
    top: 80px;
  }
  100% {
    opacity: 1;
  }
}
.empty-img-container {
  margin: 10px auto;
  padding: 90px 0 0 0;
  width: 80%;
  text-align: center;
}
.empty-img-container img {
  width: 60%;
  margin: 0 auto;
}

.history-item-container {
  width: 95%;
  margin: 5px auto;
  position: relative;
  overflow-y: auto;
  height: 470px;
}
.history-item-container .history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
  background-color: rgba(197, 197, 197, 0.2156862745);
  border-radius: 14px;
  padding: 5px 5px 5px 25px;
  margin: 0 auto 7px auto;
  position: relative;
}
.history-item-container .history-item .delete-item {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 8px;
  border: none;
  color: gray;
  background-color: rgb(223, 223, 223);
  padding: 10px;
  font-size: 15px;
  transition: 0.3s;
  cursor: pointer;
}
.history-item-container .history-item .delete-item:hover {
  color: white;
  background-color: rgba(255, 0, 98, 0.9137254902);
}

.history-item-short {
  font-size: 26px !important;
}

.history-header {
  background-color: rgba(176, 176, 176, 0.262);
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 12px;
  padding: 12px 10px 10px 10px;
  text-align: right;
}
.history-header .history-title {
  display: block;
  font-size: 20px;
  padding: 0 10px;
  font-weight: light;
}

.close-panel-btn {
  font-size: 30px;
  display: grid;
  justify-content: center;
  align-content: center;
  width: 50px;
  border: none;
  margin: 10px;
  height: 50px;
  padding: 10px;
  transition: 0.4s;
  background-color: rgba(255, 0, 98, 0);
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}
.close-panel-btn:hover {
  background-color: rgba(177, 177, 177, 0.337254902);
}
.close-panel-btn:active {
  transform: scale(0.8);
}/*# sourceMappingURL=style.css.map */